@import '../variables.scss';

.root {
  color: white;
}

.topLevel,
.topLevelGroup {
  height: 50px;
  overflow: hidden;
}

.topLevelTitle,
.topLevelGroupTitle {}

.topLevelGroup .topLevel {}
.topLevelGroup .topLevelTitle {}

.topLevelItems {}
.topLevelItem {}
.topLevelItemName {}
.topLevelItemLocation {}
.topLevelItemPrice {}
