@charset "UTF-8";
:global {
  @import '../../../node_modules/normalize.css/normalize.css';
  @import '../../../node_modules/react-image-gallery/build/image-gallery.css';
  @import '../../../node_modules/skeleton-css/css/skeleton.css';
}

@import '../variables.scss';

/*
 * Fonts n Stuff
 * ========================================================================== */
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_0_0.eot');
  src: url('//localhost:3000/font/oddjobber_0_0.eot?#iefix') format('embedded-opentype'),
     url('//localhost:3000/font/oddjobber_0_0.woff') format('woff'),
     url('//localhost:3000/font/oddjobber_0_0.ttf') format('truetype');
  font-weight: normal;
    font-style: normal;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_1_0.eot');
  src: url('//localhost:3000/font/oddjobber_1_0.eot?#iefix') format('embedded-opentype'),
     url('//localhost:3000/font/oddjobber_1_0.woff') format('woff'),
     url('//localhost:3000/font/oddjobber_1_0.ttf') format('truetype');
  font-weight: 500;
    font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_1_0.eot');
  src: url('//localhost:3000/font/oddjobber_1_0.eot?#iefix') format('embedded-opentype'),
     url('//localhost:3000/font/oddjobber_1_0.woff') format('woff'),
     url('//localhost:3000/font/oddjobber_1_0.ttf') format('truetype');
  font-weight: 500;
    font-style: oblique;
}
@font-face {
  font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_2_0.eot');
  src: url('//localhost:3000/font/oddjobber_2_0.eot?#iefix') format('embedded-opentype'),
     url('//localhost:3000/font/oddjobber_2_0.woff') format('woff'),
     url('//localhost:3000/font/oddjobber_2_0.ttf') format('truetype');
  font-weight: 900;
    font-style: normal;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_3_0.eot');
  src: url('//localhost:3000/font/oddjobber_3_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_3_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_3_0.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_3_0.eot');
  src: url('//localhost:3000/font/oddjobber_3_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_3_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_3_0.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_4_0.eot');
  src: url('//localhost:3000/font/oddjobber_4_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_4_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_4_0.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_4_0.eot');
  src: url('//localhost:3000/font/oddjobber_4_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_4_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_4_0.ttf') format('truetype');
  font-weight: 900;
  font-style: oblique;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_5_0.eot');
  src: url('//localhost:3000/font/oddjobber_5_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_5_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_5_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_6_0.eot');
  src: url('//localhost:3000/font/oddjobber_6_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_6_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_6_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_7_0.eot');
  src: url('//localhost:3000/font/oddjobber_7_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_7_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_7_0.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_7_0.eot');
  src: url('//localhost:3000/font/oddjobber_7_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_7_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_7_0.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_9_0.eot');
  src: url('//localhost:3000/font/oddjobber_9_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_9_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_9_0.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_9_0.eot');
  src: url('//localhost:3000/font/oddjobber_9_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_9_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_9_0.ttf') format('truetype');
  font-weight: 800;
  font-style: oblique;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_A_0.eot');
  src: url('//localhost:3000/font/oddjobber_A_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_A_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_A_0.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_A_0.eot');
  src: url('//localhost:3000/font/oddjobber_A_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_A_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_A_0.ttf') format('truetype');
  font-weight: 300;
  font-style: oblique;
}
@font-face {font-family: 'Oddjobber';
  src: url('//localhost:3000/font/oddjobber_B_0.eot');
  src: url('//localhost:3000/font/oddjobber_B_0.eot?#iefix') format('embedded-opentype'),
    url('//localhost:3000/font/oddjobber_B_0.woff') format('woff'),
    url('//localhost:3000/font/oddjobber_B_0.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/*
 * Base styles
 * ========================================================================== */

html {
  box-sizing: border-box;
  background-color: $site-bg-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-size: 1em;
  font-family: $font-family-base;
  font-weight: $font-family-base-weight;
  line-height: 1.375;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

:global {
  #content-container {
    max-width: 1800px;
    margin: 0 auto;
  }

  #oddjob-gallery {
    margin: 2rem auto;
  }
  .image-gallery {
    margin: 16px;
  }
  .image-gallery-thumbnails {
    padding-top: 8px;
  }
  .image-gallery-thumbnail {
    padding-right: 8px;
  }
  .image-gallery-thumbnail img {
    width: 160px;
  }
  .image-gallery-slide.center::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 1px rgba(255,255,255, 0.4);
  }
  .image-gallery-thumbnails {
    background-color: transparent;
  }
  .image-gallery-thumbnail.active img {
    border-color: $oj-yellow;
  }
  .image-gallery-content .image-gallery-left-nav:hover, .image-gallery-content .image-gallery-right-nav:hover {
    color: $oj-yellow;
  }
}
