@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../node_modules/skeleton-css/css/skeleton.css';
@import '../variables.css';

html,
body {
  font-size: 1em;
  font-family: var(--font-family-base);
  line-height: 1.375;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
