@import '../variables.scss';

$nav-link-color: $typography-light;
$logo-height: 74px;
$logo-width: 166.5px;

.root {
  color: $nav-link-color;
}

.root a {
  color: $nav-link-color;
  text-decoration: none;
}

.root a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(http://localhost:3000/img/oj-logo.svg);
  background-repeat: none;
  /* orig is 126 * 56 */
  background-size: $logo-width $logo-height;
  height: $logo-height;
  width: $logo-width;
  float: left;
  opacity: 0.9;
}

.linkGroup {
  list-style-type: none;
  margin: 0 0 0 60px;
  float: left;
}

.linkGroup li {
  display: inline-block;
  margin-right: 50px;
}

.link {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.infoGroup {
  float: right;
  opacity: 0.8;
  line-height: 48px;
  height: 48px;
  letter-spacing: 1px;
}

.address {
}

.openNotice {
  padding-left: 40px;
}
