@import '../variables.css';

:root {
  --nav-link-color: var(--typography-light);

  --logo-height: 74px;
  --logo-width: 166.5px;
}

.Navigation {
  color: var(--nav-link-color);
}

.Navigation :any-link {
  color: var(--nav-link-color);
  text-decoration: none;
}

.Navigation :any-link:hover {
  text-decoration: underline;
}

.Navigation-logo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(/img/oj-logo.svg);
  background-repeat: none;
  /* orig is 126 * 56 */
  background-size: var(--logo-width) var(--logo-height);
  height: var(--logo-height);
  width: var(--logo-width);
  float: left;
  opacity: 0.9;
}

.Navigation-linkGroup {
  list-style-type: none;
  margin: 0 0 0 60px;
  float: left;
}

.Navigation-linkGroup li {
  display: inline-block;
  margin-right: 50px;
}

.Navigation-link {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.Navigation-infoGroup {
  float: right;
  opacity: 0.8;
  line-height: 48px;
  height: 48px;
  letter-spacing: 1px;
}

.Navigation-address {
}

.Navigation-openNotice {
  padding-left: 40px;
}
