@import '../variables.css';

:root {
  --hero-height: 675px;
  --hero-top-border-color: #c08f60;
}

.Hero {
  background-image: url(/img/oj-header-full.jpg);
  background-size: cover;
  background-position: center center;
  height: var(--hero-height);
  border-top: 2px solid var(--oj-yellow);
}

.Hero-content {
  position: absolute;
  height: var(--hero-height);
  width: 86%;
  z-index: 1;
  padding: 64px 7%;
}

.Hero-overlay {
  position: absolute;
  height: var(--hero-height);
  width: 100%;
  background: linear-gradient(to bottom, rgb(51, 11, 34) 0%, rgb(64, 18, 33) 66%, rgb(43, 13, 18) 100%);
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}
