@import '../variables.css';

.Hero {
  background-image: url(/img/oj-header-full.jpg);
  background-size: cover;
  height: 800px;
}

.Hero--overlay {
  position: absolute;
  height: 800px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(51, 11, 34) 0%, rgb(64, 18, 33) 66%, rgb(43, 13, 18) 100%);
  opacity: 0.8;
  pointer-events: none;
}
