:root {
  /*
   * Colors
   * ======================================================================== */

  --white-base: #ffffff;
  --oj-yellow: #c08f5f;

  /*
   * Typography
   * ======================================================================== */

  --typography-light: #ffffff;
  --font-family-base: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  /*
   * Layout
   * ======================================================================== */


  /*
   * Media queries breakpoints
   * ======================================================================== */


  --screen-xs-min: 400px;  /* Extra small screen / phone */
  --screen-sm-min: 550px;  /* Small screen / tablet */
  --screen-md-min: 750px;  /* Medium screen / desktop */
  --screen-lg-min: 1000px; /* Large screen / wide desktop */
  --screen-xl-min: 1200px; /* Large screen HD / wide desktop HD */

  /*
   * Animations
   * ======================================================================== */
}
